img.welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}